{#content}
<h1 n:block='title'>Nette Bluescreen Cloud</h1>

Fork me on <a href='https://github.com/juzna/nette-bluescreen-cloud'>GitHub</a>.


<h1>Bookmarklets</h1>

<p>Usefully bookmarklets. Drag & drop them to your bookmark bar and then use whenever needed</p>

<ul>
	<li><a href="javascript:var s = document.createElement('script'); s.src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'; document.body.appendChild(s)">Add jQuery</a> - adds jQuery to current page</li>
	<li><a href="javascript:$.post('http://ladenka.juzna.cz/record/add?message='+$('#netteBluescreenError p')[0].firstChild.nodeValue.trim(),{ content:document.getElementById('netteBluescreen').innerHTML},function(a){ if(a&&a.link){ window.open(a.link)}else{ alert('Uploaded failed')}})">Share BlueScreen</a> - share Nette BlueScreen to the cloud (https://github.com/nette/nette/pull/717)</li>
